<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            color: #333;
        }
        .btn {
            display: block;
            width: max-content;
            padding: 12px 20px;
            background-color: #007bff;
            color: #ffffff !important;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
            font-size: 16px;
            border: none;
        }
    </style>
</head>
<body>
<h3 style="color: #3f3c3c;">Hi [[${username}]],</h3>
<p>Welcome to the <strong>Tickora</strong> platform!</p>

<!-- Account Creation - Email Login Privilege User Email Content-->
<div th:if="${emailType == 'account_creation'}">
    <p>Your account has been successfully created on the <strong>Tickora</strong> platform.</p>
    <p><b>Default Password:</b> <span style="color:#007bff;">[[${password}]]</span></p>
    <h4>Please follow the steps below to reset your password:</h4>
    <ol>
        <li>Ensure the <strong>Tickora</strong> app is installed on your device.</li>
        <li>Copy your default password listed above.</li>
        <li>Click the <strong>Reset Password</strong> button below to reset your password.</li>
        <li>Set your new password in the app.</li>
        <li>Re-enter and confirm the new password.</li>
    </ol>
    <p><strong style="color: red;">Note:</strong></p>
    <ul>
        <li>You can reset your password only via the <strong>Reset Password</strong> button in this email. Reset links from other sources won't work.</li>
        <li>Logging in with the default password is not allowed.</li>
    </ul>
    <p>
        <a th:href="@{http://51.21.219.235:8000/deeplink(email=${email})}"
           th:if="${!isNewUser}" class="btn">
            Reset Password
        </a>
        <a th:href="@{http://51.21.219.235:8000/deeplink(email=${email}, newUser='true')}"
           th:if="${isNewUser}" class="btn">
            Reset Password
        </a>
    </p>
    <h4>Welcome Aboard!<br>&mdash; The Tickora Team</h4>
</div>

<!-- Account Creation -  Mobile Login Privilege User Email Content -->
<div th:if="${emailType == 'mobile_login'}">
    <p>
        Your account has been successfully created. You can now log in using your
        <strong>registered mobile number</strong> and a <strong>OTP</strong>.
    </p>

    <h4>How to log in:</h4>
    <ol>
        <li>Open the <strong>Tickora</strong> mobile app.</li>
        <li>Enter your <strong>registered mobile number</strong>.</li>
        <li>You'll receive a <strong>one-time OTP</strong> on your mobile.</li>
        <li>Enter the OTP in the app to log in.</li>
    </ol>

    <p><strong style="color: red;">Notes:</strong></p>
    <ul>
        <li>The OTP is <strong>usable only once</strong>.</li>
        <li>The OTP is valid for <strong>3 months</strong>.</li>
        <li>Do <strong>not log out</strong> of the app unnecessarily — logging out will require generating a new OTP.</li>
    </ul>

    <h4>Welcome Aboard!<br>- The Tickora Team</h4>
</div>

<!-- Forgot Password -->
<div th:if="${emailType == 'forgot_password'}">
    <p>We received a request to reset your password for your <strong>Tickora</strong> account.</p>
    <p>If you did not make this request, you can safely ignore this email.</p>
    <p>Otherwise, click <strong>Reset Password</strong> and use the password below.</p>
    <p><b>Default Password:</b> <span style="color:#007bff;">[[${password}]]</span></p>
    <p><strong style="color: red;">Note:</strong></p>
    <ul>
        <li>You can reset your password only via the <strong>Reset Password</strong> button in this email. Reset links from other sources won't work.</li>
        <li>Logging in with the default password is not allowed.</li>
    </ul>
    <p>
        <a th:href="@{http://51.21.219.235:8000/deeplink(email=${email})}"
           th:if="${!isNewUser}" class="btn">
            Reset Password
        </a>
        <a th:href="@{http://51.21.219.235:8000/deeplink(email=${email}, newUser='true')}"
           th:if="${isNewUser}" class="btn">
            Reset Password
        </a>
    </p>
    <h4>Welcome Aboard!<br>&mdash; The Tickora Team</h4>
</div>

<div th:if="${emailType == 'success_mail'}">
    <h4 style="font-size: 1.0em;">The file was processed, Member accounts have been created based on the data in your uploaded file.</h4>
    <h4 style="font-size: 1.0em;"><b>Uploaded Count:</b> <span style="color:#007bff;">[[${uploadcount}]] member account has been successfully created.</span></h4>
    <h4 style="font-size: 1.0em;"><b>Skipped Count:</b> <span style="color:#007bff;">[[${skippedcount}]] entries were skipped during the upload.</span></h4>
    <h4><strong style="color:red">Note: Reasons for skipped entries:</strong> </h4>
    <ul>
        <li>Invalid or missing location</li>
        <li>Group not found</li>
        <li>Required primary fields are missing</li>
        <li>Email or mobile number already exists</li>
        <li>Missing secondary details (required for Student role)</li>
        <li>All mandatory secondary fields are missing (Student role)</li>
        <li>Duplicate secondary email or mobile number</li>
        <li>Primary and secondary mobile numbers are the same</li>
    </ul>
    <p>The valid entries have been processed and member accounts have been created accordingly.
        You may review the skipped entries, correct the issues, and re-upload if necessary.</p>
    <h4>Thank you<br>&mdash; The Tickora Team</h4>

</div>

<h5 style="text-align:center;"><strong>Thank you for using Tickora</strong></h5>
<h6 style="text-align:center;">This is an automated message. Please do not reply directly to this email.</h6>

</body>
</html>
